*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #FAF1E4;
}

/* INICIO NAV*/

a{
    text-decoration: none;
    font-weight: 600;
    color: black;
    
}

nav{
    display: flex;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navContainer{
    padding: 50px 150px 10px 150px;
}

.navLogo{
    display: flex;
    align-items: center;
}

.navList{
    display: flex;
    list-style-type: none;
    
    
}
.navList li{
    padding: 15px 20px 0px 20px;
    align-items: center;
    
}

.current{
    color:#a78e72;
    font-size: large;
}

.logo{
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.separator{
    background-color: black;
    width: 90%;
    height: 2px;
    margin: 0 0 50px 5%;
}

/* FAN NAV */


/* INICIO MAIN */

.formContainer{
    display: flex;
    flex-direction: row;
    padding: 0px 130px 0px 130px;
    height: 500px;
}

.formContainer div{
    width: 50%;
    padding: 50px;

    display: flex;
    justify-content: space-around;
    align-items: left;
    flex-direction: column;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.formContainer div h1{
    margin: -50px 0 0 0;
}

.formContainer form{
    width: 50%;
    padding: 10px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.formContainer form button{
    color: white;
    font-weight: 800;
    border-radius: 100px;
    background-color: #DAC0A3;
    border:0px;

    height: 50px;
    width: 20%;
    margin: 0 0 0 80%;
}

.text{
    background-color: #DAC0A3;
    border: 0px;
    border-radius: 2px;
    height: 60px;
    font-size: 100%;
    
}

.msgBox{
    height: 200px;
    background-color: #DAC0A3;
    border: 0px;
    border-radius: 2px;
    font-size: 150%;
}

.text::placeholder, .msgBox::placeholder{
    color: black;
    font-weight: 600;
    padding: 5px 0 0 15px;
}
/* FIN MAIN */